<p id="notice"><%= notice %></p>

<p>
  <b>Player:</b>
  <%= @player_game.player_id %>
</p>

<p>
  <b>Game:</b>
  <%= @player_game.game_id %>
</p>

<p>
  <b>Cards played:</b>
  <%= @player_game.cards_played %>
</p>


<%= link_to 'Edit', edit_player_game_path(@player_game) %> |
<%= link_to 'Back', player_games_path %>
