<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if @bingo_session %>
In Bingo Session: <%= @bingo_session.id %>, created at <%= @bingo_session.created_at %>
<%= f.hidden_field :bingo_session_id, :value => @bingo_session.id %>
<%= f.hidden_field :game_number %>
<br>&nbsp;
<% end %>
  <div class="field">
    <%= f.label :max_balls %><br />
    <%= f.text_field :max_balls %>
  </div>
  <div class="field">
    <%= f.label :secs_between_calls %><br />
    <%= f.text_field :secs_between_calls %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
