
<script type="text/javascript">
	$(function() {
		$("#tabBottom").tabs();
		$( "#accordionTL" ).accordion();
		$( "#accordionTR" ).accordion();

        var pElement = document.getElementById("audio");

            pElement.load();
            pElement.play();

    });

	</script>



<div class="container_16">

  <div class="grid_10" id="accordionTL">
	<h3><a href="#">Last Ball</a></h3>
    <div>
    <div style="font-size:160pt;text-align:center;width:100%">
  <%= @game.last_ball_called %><br>
      </div>
</div>
</div>

  <div class="grid_5">
  <span style="font-size:30px;width:100%; text-align:right">
<%= link_to 'Next Ball',:action => :next_ball %>
   </span>
</div>
  
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>

  <div class="grid_5" id="accordionTR">
  <h3><a href="#">Last Few Balls</a></h3>
  <div style="font-size:larger">
  <ul>
  <% @game.called_numbers.reverse[0..7].each { | cn | %>
    <li><%= cn.called_ball %></li>
  <% } %>
  </ul>

  </div>
</div>

  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>

  <div class="grid_5">
    <%= audio_tag @caller_sound, :controls => true, :id => "audio" %>
    </div>
  
</div>

<div class="container_12">
<div class="grid_12" id="tabBottom">
  <ul><li><a href="#tabBottom-1">All Balls</a></li></ul>
  <div class="grid_12" id="tabBottom-1">
  <div class="grid_1">
    <% (1..@game.max_balls).each { | ball | %>
        <% if ball%10 == 0 %>
            </div>
            <div class="grid_1">
        <% end %>
        <%
           ball_style="color:plum;"
        if @game.has_been_called? ball
            ball_style = "font-weight:bold;color:yellow;"
        end
        %>
      <span style="<%= ball_style %>; font-size:larger">
        <%= ball %><br>
      </span>
    <% } %>
  </div>
  </div>
</div>

<div class="clear"> </div>

<div class="grid_10">

<p>
  <b>Max balls:</b>
  <%= @game.max_balls %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>

</div>
</div>
