
<script type="text/javascript">

	$(function() {
        BingoCaller.start(<%= caller_session['auto'].present? %>,
                "<%= params['stab'] %>",
                '<%= url_for :action => :next_ball %>',
                <%= @game.secs_between_calls %>,<%= @game.id %>);
    });

	</script>



<div class="container_16">

  <span id="game-last-ball"></span>

  <div class="grid_6">
    <span id="game-controls"></span>
</div>
  
  <p>&nbsp;</p>

  <span id="game-last-few-balls"></span>

  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>

  <span id="ball-caller"></span>
  
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>


<div class="container_12">
<div class="grid_12" id="tabBottom">
  <ul>
    <li><a href="#tab-balls">All Balls</a></li>
    <li><a href="#tab-players">Players</a></li>
    <li><a href="#tab-session">Session</a></li>
  </ul>
  <div class="grid_12" id="tab-balls" style="font-size:16pt">
    <span id="game-summary"/>
  </div>
  <div class="grid_12" id="tab-session" >
    <% if @game.bingo_session %>
    In Bingo Session: <%= @game.bingo_session.id %>, created at <%= @game.bingo_session.created_at %>

    <p>
      Games played: <%= @game.bingo_session.games.count %>
    </p>
    <table>
      <tr><th>Game</th><th>Winner: Line</th><th>Winner: Bingo</th><th>Players</th></tr>
      <% @game.bingo_session.games.each do |g| %>
        <tr><td><%= g.game_number %></td>
          <td><%= if g.player_with_first_line
              g.player_with_first_line.name
          end %></td>
          <td><%= if g.player_with_bingo
              g.player_with_bingo.name
          end %></td>
          <td>
            <%= g.player_games.count %>
          </td>
        </tr>
      <% end %>
    </table>

    <table>
      <tr><th>Player</th><th>Costs</th><th>Winnings</th></tr>
      <% @game.bingo_session.players.each do |p| %>
      <tr><td><%= p.name %></td>
        <td><%= p.costs %></td>
        <td><%= p.winnings %></td>
      </tr>
      <% end %>
    </table>
    <% end %>

  </div>
  <div class="grid_12" id="tab-players" >
    <div class="grid_7">
    <table>
    <% @game.player_games.each do | p | %>
    <tr><%= form_for(p) do |f| %>
    <td><%= p.player.name %></td><td>
		<%= f.select( :cards_played, options_for_select([[1,1], [2,2], [3,3], [4,4], [5,5], [6,6], [7,7], [8,8], [9,9]], p.cards_played)) %>
</td>
<td>      <% if @game.player_with_first_line and @game.player_with_first_line == p.player %>**LINE**<% end %>
      <% if @game.player_with_bingo and @game.player_with_bingo == p.player %>**HOUSE**<% end %></td>
<td>
	<button type="submit" class="positive">
	<span class="ui-icon ui-icon-disk"></span>
	</button>
	</td>
	<% end %>
<td>
    <%= form_for(p, :html => { :method => "delete" }, :confirm => "Are you sure?") do |f| %>
	<button type="submit" class="positive">
	<span class="ui-icon ui-icon-trash"></span>
	</button>
<% end %>
	</td>
</tr>
    <% end %>
</table>
    </div>
    <div class="grid_5">
    Add Player:<br>
    <%= form_for(@player_game) do |f| %>
        <div class="field">
          <%= f.hidden_field :game_id, :value => @game.id %>
        </div>
        <div class="field">
          <%= f.label :player_id %><br />
          <%= f.select :player_id,
                       options_from_collection_for_select(@game.bingo_session.players, :id, :name) %><br>
          <label for="player_other">New Player</label><br>
          <input type="text" name="player_other">
        </div>
        <div class="field">
          <%= f.label :cards_played %><br />
<%= f.select( :cards_played, options_for_select([[1,1], [2,2], [3,3], [4,4], [5,5], [6,6], [7,7], [8,8], [9,9]], 3)) %>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
    <% end %>
      </div>
</div>
</div>

<div class="clear"> </div>

<div class="grid_10">

<p>
  <b>Max balls:</b>
  <%= @game.max_balls %>

</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>

</div>
</div>

<div id="dialog-winner-line" style="display:none">
  <%= form_for(@game, :url => { :action => "record_winner_line" }, :html => {:name => "form_winner_line" }) do |f| %>
      <div class="field">
        <%= f.hidden_field :id %>
      </div>
      <div class="field">
        <%= f.label :player_with_first_line %><br />
        <%= f.select :player_with_first_line, 
                     options_from_collection_for_select(@game.player_games, :player_id, :player) %>
      </div>
  <% end %>

</div>

<div id="dialog-winner-house" style="display:none">
  <%= form_for(@game, :url => { :action => "record_winner_bingo" }, :html => {:name => "form_winner_house" }) do |f| %>
      <div class="field">
        <%= f.hidden_field :id %>
      </div>
      <div class="field">
        <%= f.label :player_with_bingo %><br />
        <%= f.select :player_with_bingo,
                     options_from_collection_for_select(@game.player_games, :player_id, :player) %>
      </div>
  <% end %>

</div>
