
<script type="text/javascript">
  var cancel_auto = false;

	$(function() {
		$("#tabBottom").tabs();
		$("#tabBottom").tabs("select",0);
        <% if params['stab'] %>
        $("#tabBottom").tabs("select",<%= params['stab'] %>);
        <% end %>
		$( "#accordionTL" ).accordion();
		$( "#accordionTR" ).accordion();

        var pElement = document.getElementById("audio");

            pElement.load();
            pElement.play();

        <% if caller_session['auto'] %>
        timer=setTimeout('next_ball()',1000*<%= @game.secs_between_calls %>);
        <% end %>
    });

    function next_ball() {
        if (cancel_auto) return;
    window.location = '<%= url_for :action => :next_ball %>'
    }

    function handleWinnerLine()
    {
        cancel_auto = true;
        $( "#dialog-winner-line" ).dialog({
        resizable: false,
        height:140,
        modal: true,
        buttons: {
            "Save winner": function() {
                $( this ).dialog( "close" );
                document.form_winner_line.submit();
            },
            Cancel: function() {
                $( this ).dialog( "close" );
            <% if caller_session['auto'] %>
                window.location = '<%= url_for :action => :next_ball %>'
            <% end %>
            }
        }
    });
    }
    function handleWinnerHouse()
    {
        cancel_auto = true;
        $( "#dialog-winner-house" ).dialog({
        resizable: false,
        height:140,
        modal: true,
        buttons: {
            "Save winner": function() {
                $( this ).dialog( "close" );
                document.form_winner_house.submit();
            },
            Cancel: function() {
                $( this ).dialog( "close" );
            <% if caller_session['auto'] %>
                window.location = '<%= url_for :action => :next_ball %>'
            <% end %>
            }
        }
    });
    }
	</script>



<div class="container_16">

  <div class="grid_10" id="accordionTL">
	<h3><a href="#">Current Ball</a></h3>
    <div>
    <div style="text-align:center;width:100%">
    <div style="font-size:200pt;">
      <% if @game.last_ball_called %>
  <%= @game.last_ball_called %>
      <% else %>
          &nbsp;
          <% end %>
    </div>
      <br>
      <% if @game.player_with_first_line == nil %>
          <span class="game_controls"><button onclick="handleWinnerLine();">Line?</button></span>
      <% elsif @game.player_with_bingo == nil %>
          <span class="game_controls"><button onclick="handleWinnerHouse();">House?</button></span>
      <% else %>
          <span class="game_controls"><%= link_to 'Another?',:action => :same_again %></span>
      <% end %>
      </div>
</div>
</div>

  <div class="grid_6">
  <span class="game_controls">
<%= link_to 'Next',:action => :next_ball %>
   </span>
    <% if caller_session['auto'] == true %>
        <span class="game_controls"><button disabled="true">Auto</button></span>
    <% else %>
        <span class="game_controls"> <%= link_to 'Auto',:action => :enable_auto %> </span>
    <% end %>
    <% if caller_session['auto'] == false %>
        <span class="game_controls"><button disabled="true">Pause</button></span>
    <% else %>
        <span class="game_controls"><%= link_to 'Pause',:action => :disable_auto %></span>
    <% end %>
</div>
  
  <p>&nbsp;</p>

  <div class="grid_5" id="accordionTR">
  <h3><a href="#">Last Few Balls</a></h3>
  <div style="font-size:larger">
  <ul>
  <% @game.called_numbers.reverse[0..7].each { | cn | %>
    <li><%= cn.called_ball %></li>
  <% } %>
  </ul>

  </div>
</div>

  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>

  <div class="grid_5">
    <%= audio_tag @caller_sound, :controls => true, :id => "audio" %>
    </div>
  
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>


<div class="container_12">
<div class="grid_12" id="tabBottom">
  <ul>
    <li><a href="#tab-balls">All Balls</a></li>
    <li><a href="#tab-players">Players</a></li>
    <li><a href="#tab-session">Session</a></li>
  </ul>
  <div class="grid_12" id="tab-balls" style="font-size:20pt">
  <div class="grid_1">&nbsp;</div>
  <div class="grid_1">
    <% (1..@game.max_balls).each { | ball | %>
        <%
           ball_style="color:plum;"
        if @game.has_been_called? ball
            ball_style = "font-weight:bold;color:yellow;"
        end
        %>
      <span style="<%= ball_style %>">
        <%= ball %><br>
      </span>
        <% if ball%10 == 0 %>
            </div>
            <div class="grid_1">
        <% end %>
    <% } %>
  </div>
  </div>
  <div class="grid_12" id="tab-session" >
    <% if @game.bingo_session %>
    In Bingo Session: <%= @game.bingo_session.id %>, created at <%= @game.bingo_session.created_at %>

    <p>
      Games played: <%= @game.bingo_session.games.count %>
    </p>
    <table>
      <tr><th>Game</th><th>Winner: Line</th><th>Winner: Bingo</th></tr>
      <% @game.bingo_session.games.each do |g| %>
        <tr><td><%= g.game_number %></td>
          <td><%= if g.player_with_first_line
              g.player_with_first_line.name
          end %></td>
          <td><%= if g.player_with_bingo
              g.player_with_bingo.name
          end %></td>
        </tr>
      <% end %>
    </table>
    <% end %>

  </div>
  <div class="grid_12" id="tab-players" >
    <div class="grid_7">
    <ul>
    <% @game.bingo_session.players.each do | p | %>
    <li><%= p.name %>, playing <%= p.cards_played %> card(s)
      <% if @game.player_with_first_line and @game.player_with_first_line == p.id %>**LINE**<% end %>
      <% if @game.player_with_bingo and @game.player_with_bingo == p.id %>**HOUSE**<% end %>
    </li>
    <% end %>
        </ul>
    </div>
    <div class="grid_5">
    Add Player:<br>
    <%= form_for(@player) do |f| %>
        <div class="field">
          <%= f.hidden_field :bingo_session_id %>
        </div>
        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <%= f.label :cards_played %><br />
          <%= f.text_field :cards_played %>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
    <% end %>
      </div>
</div>
</div>

<div class="clear"> </div>

<div class="grid_10">

<p>
  <b>Max balls:</b>
  <%= @game.max_balls %>

</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>

</div>
</div>

<div id="dialog-winner-line" style="display:none">
  <%= form_for(@game, :url => { :action => "record_winner_line" }, :html => {:name => "form_winner_line" }) do |f| %>
      <div class="field">
        <%= f.hidden_field :id %>
      </div>
      <div class="field">
        <%= f.label :player_with_first_line %><br />
        <%= f.select :player_with_first_line, 
                     options_from_collection_for_select(@game.bingo_session.players, :id, :name) %>
      </div>
  <% end %>

</div>

<div id="dialog-winner-house" style="display:none">
  <%= form_for(@game, :url => { :action => "record_winner_house" }, :html => {:name => "form_winner_house" }) do |f| %>
      <div class="field">
        <%= f.hidden_field :id %>
      </div>
      <div class="field">
        <%= f.label :player_with_bingo %><br />
        <%= f.select :player_with_bingo,
                     options_from_collection_for_select(@game.bingo_session.players, :id, :name) %>
      </div>
  <% end %>

</div>