<h1>Listing bingo_sessions</h1>

<table>
  <tr>
    <th>Cost per card</th>
    <th>Line prize (%)</th>
    <th>House prize (%)</th>
    <th>Session name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bingo_sessions.each do |bingo_session| %>
  <tr>
    <td><%= bingo_session.cost_per_card %></td>
    <td><%= bingo_session.line_prize_per_card %></td>
    <td><%= bingo_session.bingo_prize_per_card %></td>
    <td><%= bingo_session.session_name %></td>
    <td><%= link_to 'Show', bingo_session %></td>
    <td><%= link_to 'Edit', edit_bingo_session_path(bingo_session) %></td>
    <td><%= link_to 'Destroy', bingo_session, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game', new_game_path %>
<%= link_to 'New Bingo session', new_bingo_session_path %>
<%= link_to 'Games', games_path %>
