<p id="notice"><%= notice %></p>

<p>
  <b>Cost per card:</b>
  <%= @bingo_session.cost_per_card %>
</p>

<p>
  <b>Line prize (%):</b>
  <%= @bingo_session.line_prize_per_card %>
</p>

<p>
  <b>House prize (%):</b>
  <%= @bingo_session.bingo_prize_per_card %>
</p>

<p>
  <b>Session name:</b>
  <%= @bingo_session.session_name %>
</p>

<%= link_to 'Current Game', :action => :show_current_game, :id => @bingo_session.id %>

<%= link_to 'New Game', new_bingo_session_game_path ( @bingo_session) %> 
<%= link_to 'Edit', edit_bingo_session_path(@bingo_session) %> 
<%= link_to 'Back', bingo_sessions_path %>
