<!DOCTYPE html>
<html>
<head>
  <title>Bingo Caller</title>

<%= stylesheet_link_tag    "application" %>
<%= javascript_include_tag "application" %>

  <%= csrf_meta_tag %>

<script type="text/javascript">
	$(function() {
		$( "a, button" ).button();

    });

	</script>


</head>
<body>

<div class="container_16">
<div class="grid_1">
<a href="/"><span class="ui-icon ui-icon-home"></span></a>
</div>
<div class="grid_13">
  <!--<p id="notice">< %= notice %></p>-->
  <p id="notice" style="display:none;"><%= flash %></p>


  <%= yield %>

</div>
  <div class="grid_2">
<!-- layouts/application.html.erb -->
<div id="user_nav" style="float:right">
  <% if caller_signed_in? %>
    Signed in as <%= current_caller.email %>. Not you?
    <%= link_to "Sign out", destroy_caller_session_path %>
    <!--< % = link_to "Account", caller_edit_path % >-->
  <% else %>
    <%= link_to "Sign up", new_caller_registration_path %> or <%= link_to "sign in", new_caller_session_path %>
  <% end %>
</div>
  </div>

</div>

<div style="float:right">
    The code for this site is stored on the <a href="http://github.com/kimptoc/Bingo-Caller">GitHubs</a>
</div>

</body>
</html>
