<!DOCTYPE html>
<html>
<head>
  <title>Bingo Caller</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'le-frog/jquery-ui-1.8.5.custom' %>

<%= stylesheet_link_tag 'fluid960gs/reset' %>
<%= stylesheet_link_tag 'fluid960gs/text' %>
<%= stylesheet_link_tag 'fluid960gs/grid' %>
<%= stylesheet_link_tag 'fluid960gs/layout' %>
<%= stylesheet_link_tag 'fluid960gs/nav' %>


  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'jquery-1.4.2.min' %>
  <%= javascript_include_tag 'jquery-ui-1.8.5.custom.min' %>
  <%= csrf_meta_tag %>

<script type="text/javascript">
	$(function() {
		$( "a, button" ).button();

    });

	</script>


</head>
<body>

<a href="/"><span class="ui-icon ui-icon-home"></span></a>

<!-- layouts/application.html.erb -->
<div id="user_nav" style="float:right">
  <% if caller_signed_in? %>
    Signed in as <%= current_caller.email %>. Not you?
    <%= link_to "Sign out", destroy_caller_session_path %>
    <!--< % = link_to "Account", caller_edit_path % >-->
  <% else %>
    <%= link_to "Sign up", new_caller_registration_path %> or <%= link_to "sign in", new_caller_session_path %>
  <% end %>
</div>

<!--<p id="notice"><%= notice %></p>-->
<p id="notice"><%= flash %></p>


<%= yield %>

<div style="float:right">
    The code for this site is stored on the <a href="http://github.com/kimptoc/Bingo-Caller">GitHubs</a>
</div>

</body>
</html>
